.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.choiceButton {
  margin-right: 2em;
  margin-bottom: 2em;
  padding: 1em 3.5em;
  border-radius: 8px;
  background-color: #31363f;
  border: 1px solid #808080;
  color: white;
  transition: 0.2s ease-in;
}

.choiceButton:hover {
  border-color: white;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.revealButton {
  margin-right: 2em;
  margin-bottom: 2em;
  margin-top: 20px;
  padding: 1em 3.5em;
  border-radius: 8px;
  background-color: #31363f;
  border: 1px solid #808080;
  color: white;
  transition: 0.2s ease-in;
}

.revealButton:hover {
  border-color: white;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.quitButton {
  margin-right: 2em;
  margin-bottom: 2em;
  margin-top: 20px;
  padding: 1em 3.5em;
  border-radius: 8px;
  background-color: #31363f;
  border: 1px solid #808080;
  color: white;
  transition: 0.2s ease-in;
}

.quitButton:hover {
  border-color: white;
  transition: 0.2s ease-in;
  cursor: pointer;
}
